body {
  font-family: "Roboto", sans-serif;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px;
  margin: 0px;
  background-color: #1f2937;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 200px;
  padding-right: 200px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 16px;
  color: #e5e7eb;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 36px;
  padding-bottom: 36px;
  background-color: #1f2937;
  flex-wrap: nowrap;
}

.container-hero {
  display: flex;
  flex-direction: column;
  flex: 1;
}

button {
  background-color: #3882f6;
  color: white;
  border-radius: 4px;
  width: 125px;
  height: 35px;
  border: none;
}

.hero-main {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.hero-sub {
  font-size: 18px;
  color: #e5e7eb;
}
